In [39]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [27]:
df = pd.read_csv('dataset1.csv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0
2,39,1,3,3,9,1,4,2,3,5,...,1,0,0,0,1,0,0,0,0,0
3,9,1,2,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,33,1,2,4,8,0,7,2,0,5,...,0,0,0,0,1,0,0,0,0,0
3996,24,1,2,3,5,1,5,1,3,4,...,1,0,0,0,1,0,0,0,0,0
3997,36,1,2,3,8,1,5,1,3,7,...,0,0,0,0,1,0,0,0,1,0
3998,33,1,3,3,8,1,4,2,3,7,...,0,0,0,0,0,0,0,0,0,0
3999,8,1,2,3,2,4,3,0,3,5,...,0,0,0,0,1,0,0,0,0,0

In [29]:
y = df[{0}]

In [32]:
x = df.drop(0, axis =1)

In [33]:
x

,1,2,3,4,5,6,7,8,9,10,...,75,76,77,78,79,80,81,82,83,84
0,1,4,2,8,0,6,0,3,5,0,...,0,0,0,0,1,0,0,0,0,0
1,1,3,2,2,0,5,0,4,5,2,...,2,0,0,0,1,0,0,0,0,0
2,1,3,3,9,1,4,2,3,5,2,...,1,0,0,0,1,0,0,0,0,0
3,1,2,3,3,2,3,2,4,5,4,...,0,0,0,0,1,0,0,0,0,0
4,1,2,4,7,0,2,0,7,9,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,1,2,4,8,0,7,2,0,5,2,...,0,0,0,0,1,0,0,0,0,0
3996,1,2,3,5,1,5,1,3,4,2,...,1,0,0,0,1,0,0,0,0,0
3997,1,2,3,8,1,5,1,3,7,0,...,0,0,0,0,1,0,0,0,1,0
3998,1,3,3,8,1,4,2,3,7,1,...,0,0,0,0,0,0,0,0,0,0
3999,1,2,3,2,4,3,0,3,5,2,...,0,0,0,0,1,0,0,0,0,0

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [41]:
lr = LinearRegression()

In [42]:
lr.fit(x_train, y_train)

LinearRegression()

In [43]:
print(lr.coef_)

[[ 2.83193034e-01 -1.57478524e-01 -5.41011756e-02  4.43447903e+00
  -4.25997903e-02 -8.08150107e-02 -6.94965918e-02 -1.42553944e-01
   1.59136691e-01  3.42256592e-01  2.68626857e-01 -2.42418788e-01
  -2.30989470e-01 -2.79805406e-01  1.00068156e-01  8.32713760e-02
   8.84549676e-02  1.44862744e-01  9.42649449e-02 -1.15593006e-01
   1.50740991e-01  8.39386065e-02  8.23863141e-02 -7.33779524e-02
  -9.82506209e-02 -8.68158150e-02 -3.61759323e-02  6.48905585e-05
   1.51355684e-01  1.42078993e-01 -1.10065951e-01 -2.09443521e-01
  -1.55755261e-01 -2.03939489e-02 -2.15928999e-02  2.05920728e-03
  -3.08626317e-02 -4.11711366e-02 -1.13061575e-01 -8.89772138e-02
   8.13957491e-02 -2.14572662e-01  1.85605804e-01  4.54500766e-02
   2.26457016e-02 -2.28093047e-02  2.74327371e-02 -2.26269258e-02
  -1.68914917e-01  1.08412547e-01 -2.20933740e-01  2.90894970e-01
  -1.46773901e-02  5.99992979e-02 -6.93175908e-01  5.43919945e-01
   5.44392487e-01 -9.96678638e-03 -2.76067651e+00  1.40428045e-01
  -4.44762071e-01  3.15700381e-01  7.30635955e-01 -3.21682275e-01
  -5.08522340e-01 -4.99016302e-01  6.77075004e-02 -1.16838821e-01
   7.64767538e-02  1.73233734e-01 -4.32733823e-01  4.09496685e-01
  -3.38570338e-01 -1.78670067e-01 -1.51434432e-01  1.43104711e+00
  -1.46225991e+00 -3.24680520e+00  4.11549997e-02  3.99409147e+00
  -1.27446509e-01  2.34609058e-01 -7.29620797e-01 -2.51261718e+00]]

In [44]:
print(lr.intercept_)

[0.14485018]

In [48]:
y_pred = lr.predict(x)
print('predicted response:', y_pred, sep='\n')

predicted response:
[[33.73013392]
 [ 6.75393123]
 [38.05855702]
 ...
 [33.99957952]
 [34.04034217]
 [ 7.64227124]]

In [50]:
from sklearn.metrics import mean_squared_error 
  
# # Given values 
# Y_true = [2,4,5,4,5]  # Y_true = Y (original values) 
  
# # calculated values 
# Y_pred = [2.8,3.4,4,4.6,5.2]  # Y_pred = Y' 
  
# Calculation of Mean Squared Error (MSE) 
mean_squared_error(y,y_pred)

1.8376586341162726

In [54]:
RSS = np.sum((y-y_pred)**2)
print("Residual sum of squares: %.2f" % RSS)

Residual sum of squares: 7350.63